services:
    build_linux-x86-64:
        image: otel/opentelemetry-php-distro-dev:native-build-linux-x86-64-gcc15.2.0-v0.0.2
        build:
            context: .
            dockerfile: images/Dockerfile_linux-x86-64
            args:
              - GCC_VERSION=15.2.0
              - BINUTILS_VERSION=2.45.1
              - CMAKE_VERSION=4.2.1
              - PYTHON_VERSION=3.14.0
        pull_policy: never

    build_linux-x86-64_conan:
        image: otel/opentelemetry-php-distro-dev:native-build-linux-x86-64-gcc15.2.0-v0.0.2-conancache-v0.0.1
        depends_on:
          - build_linux-x86-64
        build:
            context: .
            additional_contexts:
              rootdir: ../../../..
            dockerfile: images/Dockerfile_conan_cache
            args:
              - BASEIMAGE=otel/opentelemetry-php-distro-dev:native-build-linux-x86-64-gcc15.2.0-v0.0.2
              - BUILD_ARCHITECTURE=linux-x86-64
        pull_policy: never

    build_linuxmusl-x86-64:
        image: otel/opentelemetry-php-distro-dev:native-build-linuxmusl-x86-64-gcc15.2.0-v0.0.2
        build:
            context: .
            dockerfile: images/Dockerfile_linuxmusl-x86-64
            args:
              - GCC_VERSION=15.2.0
              - BINUTILS_VERSION=2.45.1
              - CMAKE_VERSION=4.2.1
              - PYTHON_VERSION=3.14.0
        pull_policy: never

    build_linuxmusl-x86-64_conan:
        image: otel/opentelemetry-php-distro-dev:native-build-linuxmusl-x86-64-gcc15.2.0-v0.0.2-conancache-v0.0.1
        depends_on:
          - build_linuxmusl-x86-64
        build:
            context: .
            additional_contexts:
              rootdir: ../../../..
            dockerfile: images/Dockerfile_conan_cache
            args:
              - BASEIMAGE=otel/opentelemetry-php-distro-dev:native-build-linuxmusl-x86-64-gcc15.2.0-v0.0.2
              - BUILD_ARCHITECTURE=linuxmusl-x86-64
        pull_policy: never

    build_linux-arm64:
        image: otel/opentelemetry-php-distro-dev:native-build-linux-arm64-gcc15.2.0-v0.0.2
        platform: linux/arm64
        build:
            context: .
            dockerfile: images/Dockerfile_linux-arm64
            args:
              - GCC_VERSION=15.2.0
              - BINUTILS_VERSION=2.45.1
              - CMAKE_VERSION=4.2.1
              - PYTHON_VERSION=3.14.0
        pull_policy: never

    build_linux-arm64_conan:
        image: otel/opentelemetry-php-distro-dev:native-build-linux-arm64-gcc15.2.0-v0.0.2-conancache-v0.0.1
        platform: linux/arm64
        depends_on:
          - build_linux-arm64
        build:
            context: .
            additional_contexts:
              rootdir: ../../../..
            dockerfile: images/Dockerfile_conan_cache
            args:
              - BASEIMAGE=otel/opentelemetry-php-distro-dev:native-build-linux-arm64-gcc15.2.0-v0.0.2
              - BUILD_ARCHITECTURE=linux-arm64
        pull_policy: never


    build_linuxmusl-arm64:
        image: otel/opentelemetry-php-distro-dev:native-build-linuxmusl-arm64-gcc15.2.0-v0.0.2
        platform: linux/arm64
        build:
            context: .
            dockerfile: images/Dockerfile_linuxmusl-arm64
            args:
              - GCC_VERSION=15.2.0
              - BINUTILS_VERSION=2.45.1
              - CMAKE_VERSION=4.2.1
              - PYTHON_VERSION=3.14.0
        pull_policy: never

    build_linuxmusl-arm64_conan:
        image: otel/opentelemetry-php-distro-dev:native-build-linuxmusl-arm64-gcc15.2.0-v0.0.2-conancache-v0.0.1
        platform: linux/arm64
        depends_on:
          - build_linuxmusl-arm64
        build:
            context: .
            additional_contexts:
              rootdir: ../../../..
            dockerfile: images/Dockerfile_conan_cache
            args:
              - BASEIMAGE=otel/opentelemetry-php-distro-dev:native-build-linuxmusl-arm64-gcc15.2.0-v0.0.2
              - BUILD_ARCHITECTURE=linuxmusl-arm64
        pull_policy: never
